body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 15px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}
/* format for time block */
.time-block{
  text-align: center;
  border-radius: 15px;
  padding-top: 10px;
  font-size: larger;
  font-weight: bolder;
}
/* format for row */
.row {
  white-space: pre-wrap;
  /* height: 80px; */
  border-top: 1px solid white;
  /* margin-right: 10px;
  margin-left: 10px; */
}
/* format for hour container */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-right: 1px dashed #000000;
  border-left: 1px dashed #000000;
}
/* format for past tasks */
.past {
  background-color: #d3d3d3;
}
/* format for current hour tasks */
.present {
  background-color: #ff6961;
}
/* format for future tasks */
.future {
  background-color: #77dd77;
}
/* format for save button container */
.saveBtn {
  border: 3px solid black;
  border-radius: 15px;
  background-color: #06AED5;
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
/* hover styling for save button */
.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  cursor: grab;
}